alembic==1.20.0
annotated-types==0.8.0
APScheduler==3.11.3
beautifulsoup4==4.15.0
hupper==1.12.1
iniconfig==2.3.0
Jinja2==3.1.6
legacy-cgi==2.6.4
Mako==1.4.3
MarkupSafe==3.0.3
-e git+https://github.com/YetOpen/avantfax.git@c7c5088cda621adddccb1061bd22c4a5f1a40b8c#egg=namifax
packaging==26.3
PasteDeploy==3.1.0
plaster==1.1.2
plaster-pastedeploy==1.0.1
pluggy==1.6.0
pydantic==2.13.5
pydantic_core==2.46.5
Pygments==2.21.0
pyramid==2.1
pyramid_jinja2==2.10.1
pyramid-retry==2.1.1
pyramid-tm==2.6
pytest==9.1.1
setuptools==81.0.0
soupsieve==2.10
SQLAlchemy==2.1.1
transaction==5.1
translationstring==1.4
typing_extensions==4.16.0
typing-inspection==0.4.4
tzlocal==5.4.4
venusian==3.1.1
waitress==3.0.2
WebOb==1.8.11
WebTest==3.0.7
zope.deprecation==6.0
zope.interface==8.6
zope.sqlalchemy==4.1
